<div class="jumbotron">
  <h1>Web App Login</h1>

  <p class="lead">
    Everything you need to kickstart AngularJS projects: a best-practice
    directory structure, an intelligent build system, and the best web design
    libraries around.
  </p>

  <!-- <div class="btn-group"> -->
    <button class="btn btn-large btn-success" ng-click="login($event)">Login</button>
    <!-- <a class="btn btn-large btn-primary" href="#">Signup</a> -->
  <!-- </div> -->
</div>