<nav class="navbar navbar-default" role="navigation" ng-controller="NavController">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Login App</a>
    </div>

    <!-- Collect the nav links, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('home') }"><a href="#/home">Home</a></li>
        <li ng-class="{ active: isActive('about') }" ><a href="#/about">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><button class="btn btn-default navbar-btn">Sign out</button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>